.h{
    color:rgb(18, 6, 177)
}
main{
    padding-left: 150px; position:relative;bottom: 100px;
}
img{
    border: 5px red solid; height:100px; width:100px; position:relative; left:10px 
}
a{ cursor:grab ;color:chartreuse;text-decoration: none   }